# Data Preprocessing

## Importing datasets

In [2]:
import pandas as pd

In [5]:
df_67 = pd.read_csv("datasets/june:july spending.csv")
df_78 = pd.read_csv("datasets/july:aug spending.csv")

   07/06/2025  SQ *NIKNAT CONCESSIONS  12.00  Unnamed: 3  1108.76
0  07/06/2025       CPA - PAY MACHINE   3.00         NaN  1096.76
1  07/05/2025  AMZN Mktp CA*N388B6630  69.29         NaN  1093.76
2  07/05/2025         CALGARY TRANSIT   3.80         NaN  1024.47
3  07/05/2025         CALGARY TRANSIT   2.55         NaN  1020.67
4  07/04/2025            CAFFE LEVANT   7.88         NaN  1018.12

## Cleaning