# Data Preprocessing

## Importing datasets

In [1]:
import pandas as pd

In [2]:
df_67 = pd.read_csv("datasets/june:july spending.csv", header=None)
df_78 = pd.read_csv("datasets/july:aug spending.csv", header=None)
df_may = pd.read_csv("datasets/may.csv", header=None)
df_june = pd.read_csv("datasets/june.csv", header=None)

## Cleaning

In [3]:
df_67 = df_67.drop(columns=[3, 4])
df_67.columns = ['date', 'name', 'balance']
df_67.head()

         date                    name  balance
0  07/06/2025  SQ *NIKNAT CONCESSIONS    12.00
1  07/06/2025       CPA - PAY MACHINE     3.00
2  07/05/2025  AMZN Mktp CA*N388B6630    69.29
3  07/05/2025         CALGARY TRANSIT     3.80
4  07/05/2025         CALGARY TRANSIT     2.55

In [4]:
df_67['date'] = pd.to_datetime(df_67['date'])

In [5]:
df_67 = df_67.sort_values(by='date', ascending=False)
df_67

         date                       name  balance
0  2025-07-06     SQ *NIKNAT CONCESSIONS    12.00
1  2025-07-06          CPA - PAY MACHINE     3.00
2  2025-07-05     AMZN Mktp CA*N388B6630    69.29
3  2025-07-05            CALGARY TRANSIT     3.80
4  2025-07-05            CALGARY TRANSIT     2.55
5  2025-07-04               CAFFE LEVANT     7.88
6  2025-07-04  WESTSIDE RECREATION CENTR    18.00
7  2025-07-04        VALUE VILLAGE #2185    41.11
11 2025-07-03     PARK INDIGO - CAL RESE    14.29
12 2025-07-03               IKEA CALGARY    31.49
10 2025-07-03           CHUCK-N-SHOULDER    18.90
9  2025-07-03         MARGARITA'S DISHES    19.25
8  2025-07-03                  KIN SUSHI    15.74
13 2025-07-02  PORCH KITCHEN & COCKTAILS    43.36
14 2025-07-02     HELLO VINTAGE INGLEWOO    23.09
15 2025-07-02          CPA - PAY MACHINE     7.00
16 2025-07-02                GWLTDT INC.    18.00
20 2025-07-01            CALGARY TRANSIT     3.80
23 2025-07-01  SQ *TIKKA N TEQUILA - 175    17.00
21 2025-07-01            CALGARY TRANSIT     2.55
22 2025-07-01   SQ *CONFETTI CONCESSIONS     8.00
19 2025-07-01            CALGARY TRANSIT     2.55
17 2025-07-01       BURRITO MEXICAN FOOD    33.60
18 2025-07-01            CALGARY TRANSIT     3.80
24 2025-06-30             MOBIL@  - 1777    60.00
25 2025-06-30     PARK INDIGO - CAL RESE    16.41
26 2025-06-30          CPA - PAY MACHINE     2.00
27 2025-06-30  WESTSIDE RECREATION CENTR    18.00
28 2025-06-30     REAL CDN SUPERSTORE #1    17.48
29 2025-06-30              SQ *FOLK TALE    85.79
30 2025-06-30  SQ *DEVILLE COFFEE DISTRI     6.25
31 2025-06-28      SQ *MONOGRAM ALTADORE    14.70
32 2025-06-28      CALG CO-OP GROCERY #6    12.02
37 2025-06-27     ARITZIA MARKET MALL 10   137.55
39 2025-06-27        Amazon.ca*NQ0TW3EB0    10.50
38 2025-06-27         BLUSH LANE - ASPEN    24.14
33 2025-06-27                     Lovisa    21.00
36 2025-06-27        SEPHORA MARKET MALL    39.90
35 2025-06-27            SUNTERRA MARKET    16.99
34 2025-06-27  WESTSIDE RECREATION CENTR    18.00
40 2025-06-26           MYCREDSMESCERTIF     6.30
41 2025-06-26     REAL CDN SUPERSTORE #1   158.14
42 2025-06-24          Square One Coffee     4.73
43 2025-06-23     SQ *BOXCAR COFFEE SHOP     4.04
44 2025-06-20      49 MILE MARKET ST2031    14.77

In [6]:
df_78 = df_78.drop(columns=[3])

In [8]:
df_78.columns = ['date', 'name', 'balance']
df_78['date'] = pd.to_datetime(df_78['date'])
df_78 = df_78.sort_values(by='date', ascending=False)
df_78.head()

        date                    name  balance
0 2025-08-06              SOZO SUSHI    48.73
1 2025-08-05           LES TROPIQUES    13.46
2 2025-08-04  LS Ambrose House and C     5.75
3 2025-08-03                GYMSHARK   132.67
4 2025-08-03              WALMART.CA   125.55

In [9]:
df_may.columns = ['date', 'name', 'balance']
df_may['date'] = pd.to_datetime(df_may['date'])
df_may = df_may.sort_values(by='date', ascending=False)
df_may.head()

         date                  name  balance
74 2025-05-30  DOLLARAMA #1049   _M    23.09
73 2025-05-30  *RFBT-MONTREAL    _M     8.67
72 2025-05-29  MCDONALD'S #400   _M    12.74
71 2025-05-29     SEND E-TFR ***jPu    56.00
70 2025-05-29     E-TRANSFER ***s7B    35.75

In [10]:
df_june.columns = ['date', 'name', 'balance']
df_june['date'] = pd.to_datetime(df_june['date'])
df_june = df_june.sort_values(by='date', ascending=False)
df_june.head()

         date                  name  balance
88 2025-06-30     E-TRANSFER ***F87   100.00
83 2025-06-30  UBER* PENDING     _V    12.65
80 2025-06-30  MCDONALD'S #291   _M    24.68
81 2025-06-30     E-TRANSFER ***rjD   100.00
82 2025-06-30  FESTIVAL ALOHA    _M     5.00

In [11]:
df_all = pd.concat([df_67, df_78, df_may, df_june], ignore_index = True)
df_all = df_all.sort_values(by='date', ascending=False, ignore_index = True)

In [12]:
df_all

          date                    name  balance
0   2025-08-06              SOZO SUSHI    48.73
1   2025-08-05           LES TROPIQUES    13.46
2   2025-08-04  LS Ambrose House and C     5.75
3   2025-08-03              WALMART.CA   125.55
4   2025-08-03                GYMSHARK   132.67
..         ...                     ...      ...
304 2025-05-02    BOUSTAN MCGILL    _M     5.74
305 2025-05-02    PRODUITS DE BEA   _M    12.64
306 2025-05-01    EPLV - BILLETTE   _M    14.25
307 2025-05-01    STM LOGE PEEL O   _M     7.00
308 2025-05-01    VIDEOTRON LTEE    _V    57.49

[309 rows x 3 columns]

In [13]:
# manually added categories to our personal transactions via export to sheets
df_cat = pd.read_csv("datasets/personal_transactions.csv", header=None)
df_cat

              0                       1        2              3
0          date                    name  balance       category
1    2025-08-06              SOZO SUSHI    48.73         Dining
2    2025-08-05           LES TROPIQUES    13.46         Dining
3    2025-08-04  LS Ambrose House and C     5.75         Dining
4    2025-08-03              WALMART.CA   125.55      Groceries
..          ...                     ...      ...            ...
299  2025-05-02       BOUSTAN MCGILL _M     5.74         Dining
300  2025-05-02      PRODUITS DE BEA _M    12.64      Groceries
301  2025-05-01      EPLV - BILLETTE _M    14.25  Entertainment
302  2025-05-01      STM LOGE PEEL O _M        7      Transport
303  2025-05-01       VIDEOTRON LTEE _V    57.49          Bills

[304 rows x 4 columns]

## Training the model

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np

### Split the dataset

In [15]:
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
# turning categories into numerical vectors
vectorizer = TfidfVectorizer(stop_words="english")

y = df_cat.iloc[:,3]
X = vectorizer.fit_transform(df_cat.iloc[:, 1])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)

y_hat = model.predict(X_test)
y_hat[:10]

array(['Shopping', 'Transport', 'Dining', 'Dining', 'Dining', 'Dining',
       'Transport', 'Others', 'Dining', 'Dining'], dtype=object)

In [17]:
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

               precision    recall  f1-score   support

        Bills       0.00      0.00      0.00         1
       Dining       0.70      0.95      0.81        22
Entertainment       0.00      0.00      0.00         2
    Groceries       1.00      0.50      0.67         2
    Insurance       0.00      0.00      0.00         1
       Others       0.90      0.82      0.86        11
     Shopping       0.71      0.50      0.59        10
Subscriptions       1.00      1.00      1.00         1
    Transport       0.92      1.00      0.96        11

     accuracy                           0.79        61
    macro avg       0.58      0.53      0.54        61
 weighted avg       0.75      0.79      0.75        61

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

### Testing

In [18]:
new_transactions = [
    "Paid premium for health insurance",
    "Lunch at Burger King",
    "Bought groceries at Costco"
]
X_new = vectorizer.transform(new_transactions)
predictions = model.predict(X_new)

for t, p in zip(new_transactions, predictions):
    print(f"{t} → {p}")

Paid premium for health insurance → Dining
Lunch at Burger King → Dining
Bought groceries at Costco → Dining

In [36]:
import random
from datetime import datetime, timedelta

# categories with too few samples
categories = {
    "Bills": ["Hydro Quebec", "Bell Canada phone bill", "Electricity bill", "Water utility payment", "Internet bill"],
    "Entertainment": ["Movie theater ticket", "Spotify premium", "Concert ticket", "Video game purchase", "Disney+ subscription"],
    "Groceries": ["Walmart groceries", "Costco food", "IGA supermarket", "Metro grocery", "Farmers market"],
    "Insurance": ["Car insurance premium", "Home insurance payment", "Life insurance bill", "Travel insurance fee", "Health insurance coverage"],
    "Subscriptions": ["Netflix subscription", "Amazon Prime membership", "Apple Music", "HBO Max", "YouTube Premium"]
}

# Define realistic spending ranges per category
amount_ranges = {
    "Bills": (50, 300),
    "Entertainment": (10, 120),
    "Groceries": (20, 200),
    "Insurance": (50, 500),
    "Subscriptions": (5, 30)
}

# Date range for synthetic transactions (May 1, 2025 to July 31, 2025)
start_date = datetime(2025, 5, 1)
end_date = datetime(2025, 7, 31)
days_between = (end_date - start_date).days

# Generate 100 synthetic samples per category
synthetic_data = []
for cat, examples in categories.items():
    for i in range(100):
        desc = random.choice(examples)
        amount = round(random.uniform(*amount_ranges[cat]), 2)
        # pick random date in May–July 2025
        rand_date = start_date + timedelta(days=random.randint(0, days_between))
        synthetic_data.append({
            "description": desc,
            "balance": amount,
            "category": cat,
            "date": rand_date.date()
        })

# Final DataFrame
df = pd.DataFrame(synthetic_data)[["date", "description", "balance", "category"]]

print(df.sample(10))
print(f"Total new samples: {len(df)}")

           date                description  balance       category
188  2025-06-11       Movie theater ticket   117.93  Entertainment
322  2025-07-03  Health insurance coverage   192.12      Insurance
62   2025-05-25               Hydro Quebec    92.56          Bills
197  2025-05-05             Concert ticket    34.34  Entertainment
427  2025-06-29       Netflix subscription    29.66  Subscriptions
358  2025-06-14        Life insurance bill   323.40      Insurance
471  2025-07-20    Amazon Prime membership    12.86  Subscriptions
34   2025-05-17              Internet bill   197.39          Bills
297  2025-06-21            IGA supermarket   179.41      Groceries
182  2025-05-10            Spotify premium    92.07  Entertainment
Total new samples: 500

In [41]:
df_cat_cat = df_cat.iloc[:, [0,1,2,3]]
df.columns = df_cat_cat.columns
df2 = pd.concat([df_cat_cat, df], ignore_index = True)
df2.columns = ["date", "name", "balance", "category"]
df2 = df2[1:]
df2

           date                    name balance       category
1    2025-08-06              SOZO SUSHI   48.73         Dining
2    2025-08-05           LES TROPIQUES   13.46         Dining
3    2025-08-04  LS Ambrose House and C    5.75         Dining
4    2025-08-03              WALMART.CA  125.55      Groceries
5    2025-08-03                GYMSHARK  132.67       Shopping
..          ...                     ...     ...            ...
799  2025-05-07    Netflix subscription   26.18  Subscriptions
800  2025-05-25         YouTube Premium   14.43  Subscriptions
801  2025-07-06    Netflix subscription   21.33  Subscriptions
802  2025-06-06    Netflix subscription    8.75  Subscriptions
803  2025-05-14    Netflix subscription   13.91  Subscriptions

[803 rows x 4 columns]

In [48]:
df2.to_csv("transactions_clean.csv", index=False)
# Make all categories lowercase and strip whitespace
df2['category'] = df2['category'].str.strip().str.lower()

In [49]:
# retraining

X_text = df2['name'].astype(str)
y = df2['category'].astype(str)

vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1,2), min_df=2)
X = vectorizer.fit_transform(X_text)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

model2 = LogisticRegression(max_iter=1000, class_weight='balanced')
model2.fit(X_train, y_train)

LogisticRegression(class_weight='balanced', max_iter=1000)

In [51]:
y_pred = model2.predict(X_test)
print(classification_report(y_test, y_pred))

               precision    recall  f1-score   support

       beauty       1.00      1.00      1.00         1
        bills       1.00      0.90      0.95        21
       dining       0.73      1.00      0.84        16
entertainment       1.00      0.95      0.98        22
    groceries       1.00      0.88      0.93        24
       health       1.00      1.00      1.00         1
    insurance       1.00      0.95      0.97        20
       others       1.00      1.00      1.00        11
     shopping       0.60      0.67      0.63         9
subscriptions       1.00      1.00      1.00        23
    transport       1.00      1.00      1.00        13

     accuracy                           0.94       161
    macro avg       0.94      0.94      0.94       161
 weighted avg       0.95      0.94      0.94       161